{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Criar Bomba{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="alert alert mt-2 d-flex justify-content-center bg-primary text-light">Criar Bomba</h1>
    {% if messages %}
        <div class="alert alert-success mt-2 d-flex justify-content-center">
        {% for message in messages %}
        <p class="mb-0">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'relatorio_abastecimentos' %}" class="btn btn-light">Voltar</a>
            </div>
            <a href="{% url 'criar_tanque' %}">
                <button type="button" class="btn btn-primary">Cadastrar Tanque</button>
            </a>
        </div>
    </form>
</div>
{% endblock content %}